// main.scss
//

$body-bg: #231F20;
$masthead-bg: #C92026;

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

html {}
body {
	background-color: $body-bg;
	color: #FFF;
	font-size: 14px;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
h1 {}
h2 {
	font-size: 32px;
	font-weight: normal;
	letter-spacing: -1px;
}
h3 {
	font-size: 20px;
}
a {
	color: inherit;
	text-decoration: none;
}
img {
	max-width: 100%;
}
button {
	border: none;
	padding: 0;
}

// BODY
//
.blq {
	background-color: #FFF;
	height: 40px;
}
.masthead {
	background-color: $masthead-bg;
	height: 104px;
}
.footer {}

// PAGE
//
.page {
	margin: 0 auto;
	padding: 0 16px;
	max-width: 1008px;
}
.breadcrumb {
	font-size: 20px;
}
@import 'gallery';
.share {
	margin-top: 48px;
	
	li {
		margin-right: 16px;
	}
	a {
		display: block;
		font-weight: bold;
		line-height: 40px;
		text-align: center;
		width: 230px;
	}
	.email {
		background-color: #615F5D;
	}
	.facebook {
		background-color: #3C5A98;
	}
	.twitter {
		background-color: #52C5F1;
	}
}
.more-galleries {
	margin-top: 48px;
	
	li {
		margin-right: 16px;
	}
}

// OBJECTS
//
.nav {
	@extend .clearfix;
	
	list-style: none;
	padding-left: 0;
	
	> li {
		float: left;
	}
}

// Utility
//

.clearfix {

	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
